body {
    font-family: 'Open Sans', Verdana, sans-serif;
    background-color: #FFFFFF;
}

h1, h2, h3{
    font-family: 'Open Sans', 'Arial Narrow', Arial, sans-serif;
    color: #456C8B;
}

nav li {
    display: inline-block;
}

nav a {
    color:#000000;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    text-decoration: underline;
}

nav ul {
    padding: 0px;
}

.active {
    background-color: #930000;
    color: #FFF;
